<div class="modal-header">
  <h4 class="modal-title" *ngIf="!editMode">What's the name of your project?</h4>
  <h4 class="modal-title" *ngIf="editMode">Edit Project</h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
      <div class="form-group">
        <label for="projectName">Project Name</label>
        <input type="text" class="form-control" formControlName="projectName" required="true" [value]="budget.name"/>
      </div>
    </div>
</div>
<div class="modal-footer">
  <button *ngIf="!editMode" class="btn btn-success" [disabled]="!myForm.valid">
    Add Project
  </button>
  <button *ngIf="editMode" class="btn btn-success" >
    Save Project
  </button>
</div>
</form>
