
td {margin: 0; padding: 2px;}

table .w-10 { width:10%; }
table .w-30 { width:30%; }
table .w-14 { width:14%; }
table .w-bg { width:40%; }
table .w-sm { width:12%; }


.handle {
  cursor: pointer;
}






