<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <app-sidebar></app-sidebar>
      </nav>
    </div>
    <div class="col-10">
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th scope="col" class="w-bg">Description</th>
          <th scope="col" class="w-sm">Amount</th>
          <th scope="col" class="w-sm">Units</th>
          <th scope="col" class="w-sm">X</th>
          <th scope="col" class="w-sm">Rate</th>
          <th scope="col" class="w-sm">Subtotal</th>
        </tr>
        </thead>
        <tbody [dragula]='"items"' [dragulaModel]="items">
        <tr *ngFor="let item of items" >
          <td class="handle">=</td>
          <td><input [(ngModel)]="item.descripion" type="text" class="form-control"/></td>
          <td><input [(ngModel)]="item.amount" type="text" class="form-control"/></td>
          <td><input [(ngModel)]="item.units" type="text" class="form-control"/></td>
          <td><input [(ngModel)]="item.mult" type="text" class="form-control"/></td>
          <td><input [(ngModel)]="item.rate" type="text" class="form-control"/></td>
          <td><input [(ngModel)]="item.subTotal" type="text" class="form-control"/></td>
        </tr>
        </tbody>
      </table>
      <li *ngFor="let item of items">{{ item.descripion }}:: Subtotal:: {{ item.subTotal }}</li>
    </div>
  </div>
</div>
