<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5 class="projects-heading text-center">Projects &nbsp;
        <i class="fa fa-plus-circle add-project" (click)="openProjectModal()"></i></h5>

      <hr>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <a
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let budget of budgets; let i = index"
              style="cursor: pointer"
              routerLinkActive="active"
              [routerLink]="['/budget', i]"
            >{{ budget.name }}
              <div>
                <i
                  class="fa fa-cog more-info"
                  style="cursor: pointer"
                  (click)="openProjectModal(i)"
                >
                  <!--<ng-template #moreInfoPop><a (click)="openProjectModal(i)" >Settings</a></ng-template>-->

                </i>
                <i
                  class="fa fa-copy more-info"
                  style="cursor: pointer"
                  (click)="onDuplicate(i)"
                >
                  <!--<ng-template #moreInfoPop><a (click)="openProjectModal(i)" >Settings</a></ng-template>-->

                </i>
              </div>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>
